<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clubcom.inclub">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:name=".MainApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.SplashScreenActivity"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.NoConnectionActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.TabletLogInActivity"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.TabletPrerollActivity"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.TabletLaunchMenuActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.TabletMusicActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.TabletPersonalTrainerActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.TabletTvActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.TabletBrandedChannelActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.TabletGroupXActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.TabletMyAccountActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.TabletCreateAccountActivity"
            android:windowSoftInputMode="stateAlwaysVisible" />

        <receiver android:name=".receiver.NetworkStateReceiver" >
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.supplicant.STATE_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
